scr/Server/Soway.Server/Service References/WebInvoke.Session/Session3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="www.cloud-social.com" elementFormDefault="qualified" targetNamespace="www.cloud-social.com" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://10.0.10.2:8081/Session.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://10.0.10.2:8081/Session.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Soway.Session" />
  <xs:element name="RegSession">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TimeoutSecond" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegSessionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="RegSessionResult" type="q1:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckSession">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="sessionId" type="q2:guid" />
        <xs:element minOccurs="0" name="TimeoutSecond" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckSessionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Soway.Session" minOccurs="0" name="CheckSessionResult" type="q3:SessionState" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveSession">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="sessionId" type="q4:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveSessionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Soway.Session" minOccurs="0" name="RemoveSessionResult" type="q5:SessionState" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ClearSession">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ClearSessionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Soway.Session" minOccurs="0" name="ClearSessionResult" type="q6:SessionState" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>